<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">HidroVerde</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="top-section">
      <br>
      <img src="/assets/icon/icono.png" alt="Logo" width="70px">
      <br><br>
    </div>

    <div class="info-section" *ngIf="selectedIndex !== null">
      <br><br>
      <h3>{{ aspersores[selectedIndex].nombre || 'Seleccione un aspersor' }}</h3>
      <br><br>

      <div class="data-container">
        <ion-item class="label">
          <ion-label>Humedad: {{ aspersores[selectedIndex].humedad }}%</ion-label>
        </ion-item>
      </div>

      <br><br>
      <div class="toggle-container" 
        [class.on]="aspersores[selectedIndex].encendido" 
        [class.off]="!aspersores[selectedIndex].encendido"
      >
        <div class="toggle-button" (click)="toggleAspersor()">
          <div class="toggle-text on">ON</div>
          <div class="toggle-circle"></div>
          <div class="toggle-text off">OFF</div>
        </div>
      </div>

      <br><br>
      <ion-button class="btn" (click)="irATab2()">
        Programar aspersor
      </ion-button>

      <br><br>
    </div>
  </div>
</ion-content>
