/* Estilos generales */
ion-header {
  ion-toolbar {
    height: 60px;
    padding: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    --background: #4CAF50; /* Color de fondo */
    position: relative; /* Para controlar la posición de los elementos */

    ion-title {
      font-size: 20px;
      color: white;
      font-family: 'Arial', sans-serif;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      white-space: nowrap; /* Evita que el texto se divida en varias líneas */
      text-align: center;
      width: max-content;
    }
  }
}

/* Fondo del contenido */
ion-content {
  --background: #159167;
}

/* Contenedor principal */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
}

/* Estilos del ion-card */
ion-card {
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  border-radius: 10px;

  ion-card-header {
    text-align: center;
  }

  ion-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    ion-item {
      width: 100%; /* Asegura que los elementos ocupen todo el ancho del contenedor */
    }
  }
}

/* Pie de página */
.footer {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  padding: 20px;

  .logo {
    width: 50px;
    height: auto;
    max-width: 100%;
  }

  .footer-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    margin: 10px 0;
  }
}

/* Media Queries para diferentes pantallas */
@media (max-width: 768px) {
  ion-toolbar {
    height: 100px;
  }

  ion-title {
    font-size: 1.8rem;
  }

  .footer .logo {
    width: 40px;
  }

  ion-card-content {
    ion-item {
      width: 90%;
    }
  }
}

@media (max-width: 480px) {
  ion-toolbar {
    height: 80px;
  }

  ion-title {
    font-size: 1.6rem;
  }

  .footer .logo {
    width: 30px;
  }

  ion-card-content {
    ion-item {
      width: 100%;
    }
  }
}
